<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smART</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PLayfair:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- flask overwrites this when it loads it with the actual css file-->
    
</head>    

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-5">
       <div class="container">
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
         </form>
         </div>
        </nav>
   
    <div class="d-none d-lg-flex">
        <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Italian Trulli" class="d-block mx-5" width="80%" style="border: radius 0px;">
    </div>
   
    <div class="container suggestion">
        <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Italian Trulli" class="d-block mx-5" width="15%" style="border: radius 0px;>
        <img src="https://en.wikipedia.org/wiki/Mona_Lisa#/media/File:Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="Italian Trulli" class="d-block mx-5" width="15%" style="border: radius 0px;>
    </div>

</body>
</html>