<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
         </form>
   </h1>
   <img src="{{ url_for('static', filename=currentImage) }}">
   <!-- <img src="{{ url_for('static', filename=predictions[0]) }}">
   <img src="{{ url_for('static', filename=predictions[1]) }}">
   <img src="{{ url_for('static', filename=predictions[2]) }}"> -->

   <h1>{{ artistData[0] }} </h1>
</body>
</html>